/* CSS DU FORMULAIRE */
.form-title {
  text-align: center;
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.form-main {
  height: 100%;
  padding: 4rem 4rem 3rem;
}

input {
  width: 96%;
  height: 2rem;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 2px solid black;
}

.form-submit {
  margin: 0 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.submit {
  width: 8rem;
  height: 3rem;
  cursor: pointer;
  margin: 0 0.2rem;
}

#go {
  background-color: green;
  border: 4px solid black;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 0 0 black;
}

#go:active {
  box-shadow: 1px 1px 0 0 black;
}

#inscrire {
  background-color: white;
  color: black;
  border: 4px solid black;
  font-weight: bold;
  box-shadow: 2px 2px 0 0 black;
}

#inscrire:active {
  box-shadow: 1px 1px 0 0 black;
}

/* @media (min-width: 1279px) { 
    .container {
        height: 80vh;
        width: 50vw;
    }
 } */
